@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.reservation {
    text-align: center;

}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.inform{
    width: 180px; height: 80px;
    background-color: #008156;
    border-radius: 10px;
}

.ex{
    width: 980px; height: 80px;
    border-radius: 10px;
    border: solid 2px #008156;
}

.phone{
    width: 180px; height: 80px;
    background-color: #008156;
    border-radius: 10px;
}

.number{
    width: 980px; height: 80px;
    border-radius: 10px;
    border: solid 2px #008156;
}

.select{
    width: 180px; height: 80px;
    background-color: #008156;
    border-radius: 10px;
}

.radio-button{
    width: 980px; height: 80px;
    border: solid 2px #008156;
    border-radius: 10px;
}

.calender{
    width: 180px; height: 80px;
    background-color: #008156;
    border-radius: 10px;
}

.calender2{
    border: solid 2px #008156;
    width: 980px; height: 649px;
    border-radius: 10px;
}

.check{
    text-align: center;
    width: 100%; height: 100%;
}

.result{
    text-align: center;
    width: 100%; height: 100%;
}