@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.reservation {
    text-align: center;

}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.container{
    background-color: red;
    width: 100%; height: 100%;
}

.inform{
    width: 180px; height: 80px;
    background-color: teal;
}

.container2{
    background-color: whitesmoke;
    width: max-width;
}

.container3{
    background-color: cornflowerblue;
}

.container4{
    background-color: darkgray;
}


.check{
    text-align: center;
    width: 100%; height: 100%;
}

.result{
    text-align: center;
    width: 100%; height: 100%;
}